/*Estilo para las tablas*/
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
/*Estilo para la barra de progreso*/
#myProgress {
  width: 75%;
  background-color: grey;
}
#myBar {
  width: 1%;
  height: 30px;
  background-color: green;
}

#mapid { 
  height: 400px; 
  position: relative;
  outline: none;
  display: block
}

footer p {
  text-decoration: none;
  text-align: center;
}