header {
  background-color: darkblue;
  color: white;
  text-align: left;
  padding: 1% 1% 1% 1%;
}

nav {
  background-color: darkblue;
}

footer {
  background-color: #224abe;
}

section {
  padding: 20px;
}

img {
  width: 100%;
}

/* Cursor changes when placed over table row (hint for click) */
.table-hover tr:hover {
  cursor: pointer;
}
/* Doesn't apply to table header */
.table-hover thead tr:hover {
  cursor: auto;
}

.material-icons {
  vertical-align: middle;
}

#myProgress {
  width: 75%;
  background-color: grey;
  text-align: center;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: green;
}

#mapid {
  height: 600px;
  position: relative;
  outline: none;
  display: block;
  border-radius: .35rem;
}

footer {
  color: white;
}

footer a {
  color: lightgray;
}

footer a:hover {
  color: black;
}

#notSearch{
	visibility:hidden;
}
