header {
  background-color: darkblue;
  color: white;
  text-align: left;
  padding: 1% 1% 1% 1%;
}

section {
  padding: 20px;
}

img {
  width: 100%;
}

span {
  display: none;
}

footer {
  background-color: darkblue;
  color: white;
  text-align: left;
  padding: 1% 0 1% 0;
}

/* Navbar links on mouse-over */
nav a:hover {
  background-color: dodgerblue;
  color: white;
}

.material-icons {
  vertical-align: middle;
}

#myProgress {
  width: 75%;
  background-color: grey;
  text-align: center;
}
#myBar {
  width: 1%;
  height: 30px;
  background-color: green;
}

#mapid {
  height: 400px;
  position: relative;
  outline: none;
  display: block
}

footer p {
  text-decoration: none;
  text-align: center;
}
